In [7]:
#Version 2 of Dataset
import pandas as pd
version2 = pd.read_csv("image-descriptions-DFE2.csv", header = 0)
version2

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,choose_one,choose_one:confidence,choose_one_gold,image,tag
0,110494178,False,finalized,4,11/25/2011 5:26,No,0.5243,NaN,http://clic.cimec.unitn.it/~elia.bruni/crowdfl...,disneyland
1,110494179,False,finalized,3,11/15/2011 20:33,No,1.0000,NaN,http://clic.cimec.unitn.it/~elia.bruni/crowdfl...,challenger
2,110494180,True,golden,139,11/24/2011 17:09,Yes,1.0000,Yes,http://clic.cimec.unitn.it/~elia.bruni/crowdfl...,blue
3,110494181,False,finalized,3,11/19/2011 12:57,No,1.0000,NaN,http://clic.cimec.unitn.it/~elia.bruni/crowdfl...,schoodicpeninsula
4,110494182,True,golden,45,11/23/2011 2:27,No,0.9316,No,http://clic.cimec.unitn.it/~elia.bruni/crowdfl...,macromarvels
...,...,...,...,...,...,...,...,...,...,...
226226,111036627,True,golden,154,11/24/2011 18:28,Yes,0.9596,Yes,http://clic.cimec.unitn.it/~elia.bruni/crowdfl...,storm
226227,111036628,True,golden,73,11/22/2011 18:27,No,0.8028,No,http://clic.cimec.unitn.it/~elia.bruni/crowdfl...,photo
226228,111036629,True,golden,40,11/22/2011 18:52,No,0.9192,No,http://clic.cimec.unitn.it/~elia.bruni/crowdfl...,visage
226229,111036630,True,golden,157,11/24/2011 7:29,No,1.0000,No,http://clic.cimec.unitn.it/~elia.bruni/crowdfl...,grandledge
226230,111036631,True,golden,160,11/24/2011 16:52,Yes,0.9612,Yes,http://clic.cimec.unitn.it/~elia.bruni/crowdfl...,vitamins

In [13]:
#Version 3 of Dataset
import pandas as pd
version3 = pd.read_csv("image-descriptions-DFE3.csv", header = 0)
version3

,_unit_id,_trusted_judgments,choose_one,choose_one:confidence,choose_one_gold,tag
0,110494178,4,No,0.5243,NaN,disneyland
1,110494179,3,No,1.0000,NaN,challenger
2,110494180,139,Yes,1.0000,Yes,blue
3,110494181,3,No,1.0000,NaN,schoodicpeninsula
4,110494182,45,No,0.9316,No,macromarvels
...,...,...,...,...,...,...
226226,111036627,154,Yes,0.9596,Yes,storm
226227,111036628,73,No,0.8028,No,photo
226228,111036629,40,No,0.9192,No,visage
226229,111036630,157,No,1.0000,No,grandledge
226230,111036631,160,Yes,0.9612,Yes,vitamins